// *** COLORS ***

$color-primary: #24053e;
$color-secondary: #44ffa1;
$color-tertiary: #fcf8ff;
$color-quaternary: #584d62;

$color-white: #ffffff;
$color-black: #000;

$color-bg-main: #1e1e1e;

$color-error-messages: #fb3e3e;
