@use "../abstract" as *;

html {
	@media (max-width: 500px) {
		font-size: 50%;
	}
}

// *** Body ***
body {
	background-color: $color-white;
	color: $color-primary;

	font-family: "Fraunces", serif;

	margin: 0 auto;

	overflow-x: hidden;

	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

	@include dimension-settings(100vw, null, 144rem);
}
// *** End of Body ***
